Project1/.terraform/
Project1/providers.tf
Project1/terraform.lock.hcl
Project1/terraform.tfstate
Project1/terraform.tfstate.backup
Project1/terraform.tfvars
Project1/.terraform.lock.hcl
Project1/.terraform/terraform.tfstate



Project2/
Project2/terraform.lock.hcl
Project2/.terraform/
Project2/terraform.tfstate
Project2/terraform.tfstate.backup

Project3/.terraform/
Project3/terraform.lock.hcl
Project3/provider.tf
Project3/terraform.tfstate
Project3/terraform.tfstate.backup
Project3/.terraform.lock.hcl


Project4/.terraform.lock.hcl
Project4/.terraform/
Project4/terraform.tfstate
Project4/terraform.tfstate.backup
Project4/errored.tfstate

temp/